<h2>Reactivo: <small>Dinámicos</small></h2>
<hr>

<form 
    [formGroup]="miFormulario"
    (ngSubmit)="guardar()"
    autocomplete="off"
    >

    <!-- Nombre -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input 
                class="form-control"
                formControlName="nombre"
            >
            <span 
                class="form-text text-danger"
                *ngIf="campoEsValido('nombre')">
                Este campo es obligatorios
            </span>
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input 
                    class="form-control"
                    [formControl]="nuevoFavorito"
                    placeholder="Agregar favorito"
                    (keyup.enter)="agregarFavorito()"
                >
                <button 
                    class="btn btn-outline-primary"
                    type="button"
                    (click)="agregarFavorito()">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div 
            class="col-sm-9"
            formArrayName="favoritos">

            <div 
                *ngFor="let favorito of favoritosArr.controls; let i = index"
                class="input-group mb-1">
                <input 
                    [formControlName]="i"
                    class="form-control"
                >
                <button 
                    class="btn btn-outline-danger"
                    type="button"
                    (click)="borrar(i)">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-12">
            <button 
                    class="btn btn-primary float-end"
                    type="submit">
                Guardar
            </button>
        </div>
    </div>
</form>

<span>Valid</span>
<pre>{{ miFormulario.valid}}</pre>
<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>

<span>Agregar Juego</span>
<pre>{{ nuevoFavorito.valid}}</pre>
<span>Agregar Juego Value</span>
<pre>{{ nuevoFavorito.value}}</pre>